.jobtitle {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -11vw;
    text-shadow: 10px 10px 14px rgba(0, 0, 0, 0.8);
    font-size: 14.6vw;
}
.jobtitlelong {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -6vw;
    text-shadow: 10px 10px 14px rgba(0, 0, 0, 0.8);
    font-size: 18.5vh;
    text-wrap: nowrap;
}


.criimg {
    position: absolute;
    background: url(images/highQuality/Crime.png) no-repeat center;
    height: 40vh;
    width: 100%;
    box-shadow: inset 0 -160px 55px -30px #0e0f11;
    top: 0;
    left: 0;
    background-position: 50% 0%;
    background-size: 100%;
}
.truimg {
    position: absolute;
    background: url(images/highQuality/Trucking.png) no-repeat center;
    height: 40vh;
    width: 100%;
    box-shadow: inset 0 -160px 55px -30px #0e0f11;
    top: 0;
    left: 0;
    background-position: 50% 0%;
    background-size: 100%;
}
.taximg {
    position: absolute;
    background: url(images/highQuality/Taxi.png) no-repeat center;
    height: 40vh;
    width: 100%;
    box-shadow: inset 0 -160px 55px -30px #0e0f11;
    top: 0;
    left: 0;
    background-position: 50% 0%;
    background-size: 100%;
}
.emeimg {
    position: absolute;
    background: url(images/highQuality/Emergency.png) no-repeat center;
    height: 40vh;
    width: 100%;
    box-shadow: inset 0 -160px 55px -30px #0e0f11;
    top: 0;
    left: 0;
    background-position: 50% 0%;
    background-size: 100%;
}
.boximg {
    position: absolute;
    background: url(images/highQuality/Boxtruck.png) no-repeat center;
    height: 40vh;
    width: 100%;
    box-shadow: inset 0 -160px 55px -30px #0e0f11;
    top: 0;
    left: 0;
    background-position: 50% 0%;
    background-size: 100%;
}
.busimg {
    position: absolute;
    background: url(images/highQuality/Bus.png) no-repeat center;
    height: 40vh;
    width: 100%;
    box-shadow: inset 0 -160px 55px -30px #0e0f11;
    top: 0;
    left: 0;
    background-position: 50% 0%;
    background-size: 100%;
}
.delimg {
    position: absolute;
    background: url(images/highQuality/Truckbridge.png) no-repeat center;
    height: 40vh;
    width: 100%;
    box-shadow: inset 0 -160px 55px -30px #0e0f11;
    top: 0;
    left: 0;
    background-position: 50% 0%;
    background-size: 100%;
}


.filler {
    height: 40vh;
    width: 100%;
}
.level {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #4800ac;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .level h2 {
    margin-top: 4px;
    margin-bottom: 10px;
  }
  .level .description {
    font-style: italic;
    margin-bottom: 10px;
  }
  .level .benefits {
    list-style-type: disc;
    padding-left: 0;
  }
  .level .benefits li{
    padding: 5px 0;
    margin-left: 20px;
  }
  .level .job-income {
    font-weight: bold;
    margin-top: 10px;
    background: #155725;
    border: 5px dashed #28a745;
    border-bottom-right-radius: 5rem;
    border-top-right-radius: 5rem;
    margin-right: 65%;
  }
  .level .job-income p {
    margin-left: 20px;
    font-size: 1.2em;
  }
  .level .job-income .income-extra {
    color: #c1c1c1;
  }